<div class="container mt-5 shadow p-4 rounded">
    <h2 class="mb-4">Modifica Contatto</h2>
    <form>
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Inserisci il nome"
                ng-model="edit.nome" required>
        </div>

        <div class="mb-3">
            <label for="cognome" class="form-label">Cognome</label>
            <input type="text" class="form-control" id="cognome" name="cognome" placeholder="Inserisci il cognome"
                ng-model="edit.cognome" required>
        </div>

        <div class="mb-3">
            <label for="cellulare" class="form-label">Cellulare</label>
            <input type="tel" class="form-control" id="cellulare" name="cellulare"
                placeholder="Inserisci il numero di cellulare" pattern="[0-9]{10}" ng-model="edit.cellulare" required>
        </div>

        <span class="text-center d-block text-success" ng-show="successMessage.length > 0">{{successMessage}}</span>
        <span class="text-center d-block text-danger" ng-show="errorMessage.length > 0">{{errorMessage}}</span>

        <div class="d-flex flex-column">
            <a ng-href="/contatti" class="btn btn-danger">Torna indietro</a>
            <button class="btn btn-primary" ng-click="editContact()">Modifica Contatto</button>
        </div>
    </form>
</div>