<div class="reset-password-container my-4 p-3 shadow">
    <h2>Reimposta la tua Password</h2>
    <form ng-submit="sendResetLink()">
        <div class="form-input my-1">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" ng-model="email" placeholder="Inserisci la tua email">
        </div>
        <div class="d-flex justify-content-center my-2">
            <span class="text-success" ng-show="successMessage.length > 0">{{successMessage}}</span>
        </div>
        <div class="d-flex justify-content-center my-2">
            <span class="text-danger" ng-show="errorMessage.length > 0">{{errorMessage}}</span>
        </div>
        <button class="primary-button my-1" type="submit">Reimposta la password</button>
    </form>
    <div class="login-link mt-3">
        <p>Hai già un account? <a ng-href="/">Accedi qui</a></p>
    </div>
</div>