<div class="reset-password-container my-4 p-3 shadow">
    <h2 class="text-center">Imposta una Nuova Password</h2>
    <form ng-submit="editPassword()">
        <div class="form-input my-3">
            <label for="new-password" class="form-label">Nuova Password</label>
            <input type="password" class="form-control" id="new-password" name="newPassword" ng-model="nuova_password"
                placeholder="Inserisci la nuova password">
        </div>
        <div class="form-input my-3">
            <label for="confirm-password" class="form-label">Conferma Password</label>
            <input type="password" class="form-control" id="confirm-password" name="confirmPassword"
                ng-model="conferma_password" placeholder="Conferma la nuova password">
        </div>
        <div class="text-center my-2">
            <span class="text-success" ng-show="successMessage.length > 0">{{successMessage}}</span>
        </div>
        <div class="text-center my-2">
            <span class="text-danger" ng-show="errorMessage.length > 0">{{errorMessage}}</span>
        </div>
        <button class="primary-button w-100 my-3" type="submit">Salva Nuova Password</button>
        <a ng-href="/contatti" class="btn btn-danger w-100">Torna Indietro</a>
    </form>
</div>