<div class="container mt-5 shadow p-4 rounded">
    <h2 class="mb-4">Modifica Contatto</h2>
    <form>
        <div class="mb-3 text-center">
            <img ng-src="{{edit.photo_preview}}" class="profile-photo img-fluid shadow" alt="Anteprima foto profilo" />
        </div>
        <div>
            <input type="file" class="form-control" id="foto" name="foto"
                onchange="angular.element(this).scope().onFileChange(this)">
        </div>
        <div class="mb-3">
            <button type="button" class="mt-2 btn btn-warning btn-sm" ng-click="removePhoto()">Rimuovi Foto</button>
        </div>
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Inserisci il nome"
                ng-model="edit.nome">
        </div>
        <div class="mb-3">
            <label for="cognome" class="form-label">Cognome</label>
            <input type="text" class="form-control" id="cognome" name="cognome" placeholder="Inserisci il cognome"
                ng-model="edit.cognome">
        </div>
        <div class="mb-3">
            <label for="cellulare" class="form-label">Cellulare</label>
            <input type="tel" class="form-control" id="cellulare" name="cellulare"
                placeholder="Inserisci il numero di cellulare" ng-model="edit.cellulare">
        </div>
        <div class="text-center my-3">
            <span class="text-success" ng-show="successMessage.length > 0">{{successMessage}}</span>
            <span class="text-danger" ng-show="errorMessage.length > 0">{{errorMessage}}</span>
        </div>
        <div class="d-flex flex-column">
            <button class="btn btn-primary my-2" ng-click="editContact()">Modifica Contatto</button>
            <a ng-href="/contatti" class="btn btn-danger">Torna indietro</a>
        </div>
    </form>
</div>