<div class="login-container my-4 p-3 shadow">
    <h2>Accedi alla tua Rubrica</h2>
    <form ng-submit="authenticateUser()">
        <div class="form-input my-1">
            <label for="username">Nome</label>
            <input class="rounded" type="text" id="username" name="username" ng-model="user.username">
        </div>

        <div class="form-input my-1">
            <label for="password">Password</label>
            <input class="rounded" type="password" id="password" name="password" ng-model="user.password">
        </div>
        <span class="error" ng-show="errorMessage.length > 0">{{errorMessage}}</span>
        <button class="primary-button my-1" type="submit">Accedi</button>
    </form>
    <div class="d-flex flex-column mt-3">
        <div class="register-link">
            <p>Non hai un account? <a href="/registrazione">Registrati qui</a></p>
        </div>
        <!-- Link per la reimpostazione della password -->
        <div class="password-reset-link">
            Hai dimenticato la password?
            <a href="/password_dimenticata">Reimpostala qui</a>
        </div>
    </div>
</div>