<div class="modal fade" id="notificationsModal" tabindex="-1" aria-labelledby="notificationsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="notificationsModalLabel">Nuove Notifiche</h5>
        </div>
        <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="notification in notifications">
              {{ notification.message }}
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" ng-click="markAsRead()">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

<div class="container my-4 shadow p-3 rounded">
    <div class="row g-3">
        <div class="col-md-6 d-flex flex-column justify-content-between">
            <div>
                <h2>Cerca tra i tuoi Contatti</h2>
                <div class="mb-3">
                    <label for="name" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="name" placeholder="Inserisci il nome"
                        ng-change="searchContacts()" ng-model="nome" />
                </div>
                <div class="mb-3">
                    <label for="surname" class="form-label">Cognome</label>
                    <input type="text" class="form-control" id="surname" placeholder="Inserisci il cognome"
                        ng-change="searchContacts()" ng-model="cognome" />
                </div>
                <div class="mb-3">
                    <label for="cell" class="form-label">Cellulare</label>
                    <input type="text" class="form-control" id="cell" placeholder="Inserisci il cellulare"
                        ng-change="searchContacts()" ng-model="cellulare" />
                </div>
            </div>
            <div class="d-flex flex-column gap-2 mt-4">
                <a ng-href="/chat" class="btn chat-button">Chat</a>
                <a ng-href="/nuovo_contatto" class="btn new-contact-button">Nuovo contatto</a>
                <a ng-href="/modifica_password" class="btn edit-password-button">Modifica password</a>
                <button class="btn btn-danger" ng-click="logoutUser()">Disconnettiti</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="mb-0">Lista Contatti</h2>
                <a ng-if="loggedUser.admin" ng-href="/carica_contatti" class="btn btn-warning">
                    <i class="fas fa-file-import text-white"></i>
                </a>
            </div>
            <div class="text-center alert alert-info" ng-show="message.length > 0">
                {{message}}
            </div>
            <div class="contacts-list-container">
                <ul class="list-unstyled mt-3">
                    <li class="d-flex py-2 border-bottom" ng-repeat="contact in allContacts">
                        <a class="text-decoration-none text-dark d-flex justify-content-between">
                            <span class="contact-info">{{contact.nome}}</span>
                            <span class="contact-info">{{contact.cognome}}</span>
                            <span class="contact-info">{{contact.cellulare}}</span>
                            <div class="d-flex align-items-center">
                                <i class="cur-pointer fas fa-times text-danger me-2"
                                    ng-click="deleteContact(contact.id)"></i>
                                <a href="/modifica_contatto?id={{contact.id}}"
                                    class="text-primary text-decoration-none">
                                    <i class="cur-pointer fas fa-edit"></i>
                                </a>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>