<div class="register-container my-4 p-3 shadow" ng-app="rubricaApp" ng-controller="RegisterController">
    <h2>Registrati alla tua Rubrica</h2>
    <form ng-submit="registerUser()">
        <div class="form-input my-3">
            <label for="username">Nome utente</label>
            <input type="text" id="username" name="username" ng-model="user.username">
        </div>

        <div class="form-input my-3">
            <label for="password">Password</label>
            <input class="rounded" type="password" id="password" name="password" ng-model="user.password" minlength="8">
        </div>
        <div class="form-input my-3">
            <label for="conferma-password">Conferma Password</label>
            <input class="rounded" type="password" id="conferma-password" name="conferma-password"
                ng-model="confermaPassword">
        </div>
        <div class="form-input my-3">
            <label for="email">Email</label>
            <input class="rounded" type="email" id="email" name="email" ng-model="user.email">
        </div>
        <div class="form-input my-3">
            <label for="conferma-email">Conferma Email</label>
            <input class="rounded" type="email" id="conferma-email" name="conferma-email" ng-model="confermaEmail">
        </div>
        <div class="form-input my-3">
            <label for="nome">Nome</label>
            <input class="rounded" type="text" id="nome" name="nome" ng-model="user.nome">
        </div>

        <div class="form-input my-3">
            <label for="cognome">Cognome</label>
            <input class="rounded" type="text" id="cognome" name="cognome" ng-model="user.cognome">
        </div>
        <div class="form-input my-3">
            <label for="data_di_nascita">Data di nascita</label>
            <input class="form-control" type="date" id="data_di_nascita" name="data_di_nascita"
                ng-model="user.data_di_nascita">
        </div>
        <div class="form-input my-3">
            <label for="sesso">Sesso</label>
            <select class="form-select" name="sesso" ng-model="user.sesso">
                <option value="M">Uomo</option>
                <option value="F">Donna</option>
            </select>
        </div>
        <div class="form-input my-3">
            <label for="citta">Città</label>
            <input class="rounded" type="text" id="citta" name="citta" ng-model="user.citta">
        </div>
        <button class="primary-button my-3" type="submit">Registrati</button>
    </form>
    <div class="text-center">
        <span class="text-success" ng-show="registrationSuccess">{{registrationSuccessMessage}}</span>
        <span class="text-danger" ng-show="registrationFailed">{{registrationFailedMessage}}</span>
    </div>
    <div class="login-link">
        <p>Hai già un account? <a href="/">Accedi qui</a></p>
    </div>
</div>